<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Ronak Patil</title>
  <meta name="description" content="Senior Software Engineer.">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <meta property="og:title" content="Ronak Patil - online resume" />
  <meta property="og:url" content="http://www.ronakpatil.com" />
  <meta property="og:image" content="facebook_image.png" />
  <meta property="og:site_name" content="Ronak Patil - Senior Software Engineer" />
  <meta property="og:description" content="Started in 2016, I'm a self-taught 26 years old Senior Software Engineer." />
</head>

<body data-display="none">

  <div id="resume">
    <div class="header-container">

      <section class="no-print portrait-mode">
        <p>I am much more interesting in landscape mode (experimental: the full experience is on desktop)!</p>
      </section>

      <header class="wrapper clearfix">
        <h1 class="title">Ronak Patil</h1>
      </header>
    </div>
    <main class="main-container">
      <div class="main wrapper clearfix">
        <aside id="sidebar">
          <h3>contact me</h3>
          <p>
            <a href="https://github.com/ronakpatil" target="_blank">
              <strong>GitHub</strong>
            </a>
          </p>
          <p>
            <a href="https://github.com/ronakpatil" target="_blank">
              <strong>Add proper link</strong>
            </a>
          </p>

          <p>
            <a href="http://www.ronakpatil.com">
              <strong>Portfolio</strong>
            </a>
          </p>

          <p>
            <a class="plain" href="mailto:ronakpatil9@gmail.com" target="_blank">
              <strong>Email: ronakpatil9@gmail.com</strong>
            </a>
          </p>
          <p>
            <a href="https://www.linkedin.com/in/ronakpatil9/" target="_blank">
              <strong>LinkedIn</strong>
            </a>
          </p>

          <p id="printfriendly">I'm printer friendly!</p>
          <section class="print_only">
            <p>
              <a href="#">
                <strong>Location</strong>: Pune</a>
            </p>
          </section>

          <h3>
            <a id="reopen" href="#">Re-open full version</a>
          </h3>
        </aside>
        <article id="resumeData">
          <section class="list">

            <section id="experience" class="list">
              <h2>Core Competencies Summary</h2>
              <section>
                <li>3+ years of experience in products development.</li>
                <li>Familiar with Rasa, spaCy, SciKitLearn and TensorFlow.</li>
                <li>Ability to learn and implement new technologies quickly. Successfully
                  implemented POCs and converted them to enterprise ready features.
                </li>
                <li>Hold good experience with conda environment setup from scratch
                  using Anaconda3 distribution, the popular data science platform.</li>
                <li>
                  Expertise in rapid prototype development using Jupyter notebooks and
                  integration with scalable systems.
                </li>
                <br>
              </section>
            </section>

            <section id="experience" class="list">
              <h2>Experience</h2>
              <section>
                <h3>
                  <a href="http://www.smartek21.com" target="_blank">SmarTek21</a>
                </h3>
                <time>Oct 2019 - Present</time>
                <p>
                  <i>
                    Senior Software Engineer
                  </i>
                </p>
                <li>Contributed to R&D team to develo pUI for blockchain solutions using React.</li>
                <br>
              </section>

              <section>
                <h3>
                  <a href="http://www.xooa.com" target="_blank">Xooa</a>
                </h3>
                <time>July 2019 - Oct 2019</time>
                <p>
                  <i>Software developer</i>
                </p>
                <li>Contributed to R&D team to develo pUI for blockchain solutions using React.</li>
                <br>
              </section>

              <section>
                <h3>
                  <a href="http://www.smartek21.com" target="_blank">SmarTek21</a>
                </h3>
                <time>Aug 2016 - July 2019</time>
                <p>
                  <i>Software Engineer</i>
                </p>
                <li>Part of intelligent machines team to develop conversational AI.Explored a
                  dialogue management with Rasa for chatbots.</li>
                <li>Originated DialogFlow like natural language understanding framework using
                  Python, spaCy, MongoDB and Redis.</li>
                <li> Integrated AWS S3 with SmartBotHub NLP using Boto3 as storage facility for
                  trained models.</li>
                <li>Built a tool to verify updated language model’s predictions based on displaCy
                  dependency visualizer for internaluse. </li>
                <br>
              </section>

            </section>

            <section id="experience" class="list">
              <h2>Projects</h2>
              <section>
                <h3>
                  <a href="https://smartbothub.com/" target="_blank">SmartBotHub NLP</a>
                </h3>
                <time>Sept 2017 - Present | SmarTek21</time>
                <p>
                  <i>Software Engineer</i>
                </p>
                <li> SmartBotHub NLP is integrated conversational artificial intelligence platform to
                  develop natural language understanding capabilities.</li>
                <li> Powered by spaCy and TensorFlow. Supports English, Spanish and Arabic languages.
                </li>
                <li>Conducted research on semantic enrichment for existing language model EN by training
                  dependency parser and POS tagger with new datasets.</li>
                <li>Implemented prototype scripts on data migration, file manipulations and model
                  training for SmartBotHub NLP using Jupyter notebooks.</li>
                <br>
              </section>

              <section>
                <h3>
                  <a href="http://www.enterpricecloudconnect.com" target="_blank">Enterprise Cloud
                    Connect</a>
                </h3>
                <time>Aug 2016 - Sept 2017 | SmarTek21</time>
                <p>
                  <i>Software Engineer</i>
                </p>
                <li> Enterprise Cloud Connect is enterprise integration platform with preconfigured data
                  source connectors.</li>
                <li>Provides API gateway solutions, data transformation, data processing and workflow
                  management facilities.</li>
                <li>Implemented API management and security layer using Kong on top of Nginx. </li>
                <li>Configured and administrated dev and stage environments on AWS successfully.</li>
                <br>
              </section>
            </section>

            <section class="list no-print">
              <h2>Recent activities and references</h2>
              <section>
                <h3>Latest OSS projects</h3>
                <p>
                  <a href="https://github.com/ronakpatil" target="_blank">Latest GitHub
                    repositories</a>
                </p>
              </section>
              <section>
                <h3>Article</h3>
                <p>
                  <a href="https://hackernoon.com/how-to-lose-an-it-job-in-10-minutes-3d63213c8370" target="_blank">How
                    to Lose an IT Job in 10 Minutes</a>
                </p>
              </section>
              <section>
                <h3>Article</h3>
                <p>
                  <a href="https://medium.com/@albinotonnina/magic-hat-technique-408a3fa590bb" target="_blank">Speaking
                    of web layouts…introducing the Magic Hat technique</a>
                </p>
              </section>
              <section>
                <h3>Research</h3>
                <p>
                  <a href="http://bandit-css.herokuapp.com" target="_blank">Bandit: Authoring and
                    maintaining HTML and CSS for complex, rapidly-iterated projects</a>
                </p>
              </section>

              <section>
                <h3>Mentoring</h3>
                <p>
                  <a href="https://bootstrapgrids.herokuapp.com" target="_blank">Slides: Bootstrap
                    grids</a>
                </p>
                <p>
                  <a href="https://frontend-development.herokuapp.com" target="_blank">Front-end
                    development course
                  </a>
                </p>
              </section>

              <section>
                <h3>The Prettiest Resume You'll See All Week</h3>
                <p>
                  <i>https://www.themuse.com/advice/the-prettiest-resume-youll-see-all-week</i>
                </p>
              </section>

              <section>
                <h3>Awwwards Honorable Mention</h3>
                <p>
                  <i>http://www.ronakpatil.com</i>
                </p>
              </section>

              <section>
                <h3>cssreel.com and other small awards websites - Winner of the day</h3>
                <p>
                  <i>Please have a look at my LinkedIn profile for a longer list.</i>
                </p>
              </section>
            </section>
            <section class="no-print">
              <h2>Past Clients</h2>
              <p>You can have a look at my past jobs and clients in this
                <a href="http://vimeo.com/88016428" target="_blank">video hosted on Vimeo
                </a>
              </p>
              <p>Over the years I worked for: </p>

              <p>
                <img src="./images/clientsplain.png" width="518px" />
              </p>
            </section>
        </article>
      </div>
    </main>
  </div>

  <figure id="loader" class="no-print"></figure>
  <div id="vignette" class="no-print"></div>

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-265680-29', 'ronakpatil.com');
    ga('send', 'pageview'); </script>


  <script>
    if (document.querySelector('[href="styles.css"]')) {
      document.querySelector('[href="styles.css"]').setAttribute('data-skrollr-stylesheet', true);
    }
  </script>

  <a href="https://github.com/ronakpatil/" target="_blank" aria-label="View source on Github"
    class="no-print github-corner">
    <svg width="80" height="80" viewBox="0 0 250 250"
      style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0; z-index: 1000"
      aria-hidden="true">
      <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
      <path
        d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
        fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
      <path
        d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
        fill="currentColor" class="octo-body"></path>
    </svg>
  </a>
  <style>
    .github-corner:hover .octo-arm {
      animation: octocat-wave 560ms ease-in-out
    }

    @keyframes octocat-wave {

      0%,
      100% {
        transform: rotate(0)
      }

      20%,
      60% {
        transform: rotate(-25deg)
      }

      40%,
      80% {
        transform: rotate(10deg)
      }
    }

    @media (max-width: 500px) {
      .github-corner:hover .octo-arm {
        animation: none
      }

      .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
      }
    }
  </style>

</body>

</html>